body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif
}

body {
  font-size: 16px;
}

.w3-half img {
  margin-bottom: -6px;
  margin-top: 16px;
  opacity: 0.8;
  cursor: pointer
}

.w3-half img:hover {
  opacity: 1
}

.w3-input{
    outline: none;
}

.w3-sidebar{
    overflow: hidden;
}


@media screen and (max-width: 992px) {
    .body-container{
        height: calc(100vh - 68px);
        margin-top: 68px;
        width:100%;
        margin-left: 0px;
    }
}

@media screen and (min-width: 993px) {
    .body-container{
        height: 100vh;
    width: calc(100% - 300px);
    margin-left: 300px;
    }
}

.set-field{
  background: lightgreen;
  border: 1px solid green !important;
}

.hide{
  display: none;
}

.side-info-item{
  margin-bottom: 0px;
}

.w3-blurred{
  transition: 0.5s ease;
}

.w3-blurred:hover{
  transition: 0.5s ease;
  filter: blur(3px);
}

.blurred-overlay{
  transition: 0.5s ease;
  opacity: 0;
}

.w3-blurred:hover, .blurred-overlay{
  opacity: 100%;
}

.blurred-overlay:hover{
  opacity: 100%;
}

.w3-list-item{
  padding: 5px 10px;
  transition: 0.25s ease;
}

.w3-list-item:hover{
  background: lightgray;
  transition: 0.25s ease;
}


.loader {
  width: 80px;
  height: 40px;
  background: orange;
  position: relative;
  animation: l9-0 1.5s infinite linear;
}
.loader:before,
.loader:after {
   content:"";
   position: absolute;
   background: inherit; 
   bottom: 100%;
   width: 50%;
   height: 100%;
   animation: inherit;
   animation-name: l9-1;
}
.loader:before {
  left: 0;
  transform-origin: bottom left;
  --s:-1;
}
.loader:after {
  right: 0;
  transform-origin: bottom right;
}
@keyframes l9-0 {
   0%,10%   {transform:translateY(0%)    scaleY(1)}
   49.99%   {transform:translateY(-50%)  scaleY(1)}
   50%      {transform:translateY(-50%)  scaleY(-1)}
   90%,100% {transform:translateY(-100%) scaleY(-1)}
}
@keyframes l9-1 {
   10%,90% {transform: rotate(0deg); background-color: rgb(255, 111, 0);}
   50%     {transform: rotate(calc(var(--s,1)*180deg)); background-color: rgb(255, 51, 0);}
}

#loader-text{
  height: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader-info{
      display: flex
;
height: 90%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.loader-container{
      height: 50%;
    display: flex
;
    position: relative;
    align-items: flex-end;
}